.bordered {
  border: 1px solid var(--border-color);
  border-radius: var(--square-border-radius);
}

.border-radius {
  border-radius: var(--square-border-radius);
}

.bordered-thumbnail {
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: var(--profile-image-border-radius);
  line-height: 0;
}

.border-bottom-highlight {
  border-bottom: solid 4px var(--highlight-color) !important;
}

.border-dashed {
  border-style: dashed;
}
