.pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-text {
  cursor: text;
}

.disabled-link {
  pointer-events: none;
}

.link {
  @include linkText(--highlight-color, --link-font-weight);
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.btn.btn-icon:focus {
  outline: none;
  box-shadow: none;
}

.zindex-base {
  z-index: $zindex-base;
}

// This might IS provisional
// We want to align event list page in the middle
// while the right top questions widget is built
// Since the middle column is col-9, the right and left sides
// Must have 1.5 columns an each side.
@media (min-width: 768px) {
  .offset-md-1-5 {
    // offset-md-1 -> 8.333333%
    // 12.4999995% = 8.333333% * 1.5
    margin-left: 12.4999995%;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.border-radius-0 {
  border-radius: 0 !important;
}
